nodes/.terraform/
nodes/.terraform.*
nodes/terraform.tfstate*
nodes/keys/
nodes/public_ips/

master/node_modules/

master/npm-debug.log
master/.DS_Store
master/*.env
master/build
master/package-lock.json